
		<div class="main-header">

			<!-- Logo Header -->
			<div class="logo-header" data-background-color="light2">
				<a href="index.html" class="logo">
					<img src="/static/assets/img/logo.svg" alt="navbar brand" class="navbar-brand">
				</a>
			</div>
			<!-- End Logo Header -->

			<!-- Navbar Header -->
			<nav class="navbar navbar-header navbar-expand-lg" data-background-color="light">
				<div class="container-fluid">
					<form class="navbar-form nav-search" action="/search?" method="GET">
						<div class="input-group">
							<label for="q"></label>
							<input name="q" type="text"  placeholder="Search ..." class="form-control">
							<div class="input-group-append">
								<button type="submit" class="btn btn-search pr-1">
									<i class="fa fa-search search-icon"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</nav>
			<!-- End Navbar -->
        </div>
        